{% extends 'base.html' %}


{% block title %}About Blendermada{% endblock %}

{% block content %}

<div class="row">
    <div class="col s12">
        <h1>About Blendermada</h1>
    </div>
</div>

<div class="row">
    <div class="col s12">
        <p class="flow-text">Blendermada means Blender material database</p>
        <p class="flow-text">Blendermada's mission to create good material database
            for Blender for all popular render engines and share it with all.</p>
        <p class="flow-text">All materials here made by administrator and volunteers,
            and published under CC-0 license. It means you can use it anyway you want.</p>
        <p class="flow-text">Blendermada is free and open. But hosting where Blendermada is placed isn't.
            Every month I take expences to keep Blendermada alive, and they increases with number of users.
            If you want to keep Blendermada available and fast working, you can donate some money to share that expenses.</p>
    </div>
</div>

{% endblock %}