<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/png" href="/static/img/favicon.png" />
        <meta name="description" content="Free Blender Materials at Blendermada" />
        <meta name="keywords" content="blender,cycles,render,b3d,material,library,database,assets,free,open,source,addon" />
        <meta name="author" content="Sergey Ozerov, &lt;ozzyrov@gmail.com&gt;" />
        
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <title>{% block title %}Blendermada{% endblock %}</title>
        
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        {% block extra_css %}{% endblock %}

        {# Google Analytics #}
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-52564093-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-52564093-1');
        </script>

        {# Yandex Metrika #}
        <!-- Yandex.Metrika counter -->
        <script type="text/javascript" >
          (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
          m[i].l=1*new Date();
          for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
          k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
          (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

          ym(25486436, "init", {
            clickmap:true,
            trackLinks:true,
            accurateTrackBounce:true
          });
        </script>

    </head>


    <body>
      {% include 'navigation.html' %}

        <div class="container">

          {% block jumbotron %}{% endblock %}
          {% block content %}{% endblock %}

          {# adsense #}
          {% include 'ads/google.html'}

        </div>

        {% include 'footer.html' %}

        {# JavaScript #}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        {% block extra_js %}{% endblock %}

    </body>
</html>