<footer class="page-footer brown">
    
    {# footer #}
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
              <h5 class="white-text">About</h5>
                <p class="brown-text text-lighten-4">Blendermada means Blender material database.</p>
                <p class="brown-text text-lighten-4">Blendermada's mission to create good material database for Blender for all popular render engines and share it with all.</p>
                <p class="brown-text text-lighten-4">All materials here made by administrator and volunteers, and published under CC-0 license. It means you can use it anyway you want.</p>
            </div>
            
            <div class="col l4 offset-l2 s12">
              <h5 class="white-text">Links</h5>
              <ul>
                <li><a class="brown-text text-lighten-5" href="/materials/">Browse materials</a></li>
                <li><a class="brown-text text-lighten-5" href="/about/">About</a></li>
                <li><a class="brown-text text-lighten-5" href="https://github.com/TrueCryer/blendermada_scenes">Find us on GitHub</a></li>
              </ul>
            </div>
          
        </div>
    </div>

    {# subfooter #}
    <div class="footer-copyright">
        <div class="container center brown-text text-lighten-3">
            © 2014 - {% now "Y" %}, Sergey Ozerov, &lt;ozzyrov@gmail.com&gt;. All rights reserved.
            Content is released under <a class="brown-text text-lighten-5" href="http://creativecommons.org/publicdomain/zero/1.0/" target="_blank">CC-0 license</a>.
            Made with <a class="brown-text text-lighten-5" href="https://djangoproject.com" target="_blank">Django</a>
                and <a class="brown-text text-lighten-5" href="https://materializecss.com/" target="_blank">Materialize</a>
            Hosted on <a class="brown-text text-lighten-5" href="https://infobox.ru" target="_blank">infobox.ru</a>
        </div>
    </div>

</footer>
