{% extends 'base.html' %}


{% block title %}Blendermada{% endblock %}


{% block content %}

<div class="row center">
    <div class="col s12">
        <h1>Welcome to Blendermada</h1>
        <h3>Blendermada is Blender Material Database.</h3>
        <p class="flow-text">You can find here a lot of materials, download them absolutely freely and even get an addon to import anyone directly to Blender.</p>
    </div>
</div>

<div class="row">

    <div class="col s12 m7 l8">
        <div class="card">
            <div class="card-content">
                <span class="card-title">Migration</span>
                <p>Currently we are in proccess of migration to new website.</p>
                <p>Part of features are not available now (registration, addon API and other).</p>
                <p>But all database of materials is still awailable to downloading.</p>
            </div>
        </div>
    </div>

    <div class="col s12 m5 l4">
        <div class="card">
            <div class="card-content">
                <span class="card-title">Addon</span>
                <p>Addon and its API currently is not available.</p>
                <p>Because of a lot of different changes came to Blender, we're looking for new concepts of using this addon</p>
            </div>
        </div>
    </div>

</div>

<div class="row"><div class="col s12">

    <div class="card">
        <div class="card-content">
            <span class="card-title">Looking for new people</span>
            <p>Because of migration we're looking for new people who shares our ideas and ready to join this project.</p>
            <p>Now we have two major task to improve Blendermada</p>
            <ul>
                <li>Create render scenes for Eevee engine</li>
                <li>Make a brand new addon, native and friendly for new Blender API</li>
            </ul>
        </div>
    </div>

</div></div>
{% endblock %}